[2017-12-14 10:00] javieraviles opened #1 "can't find it on Yarn"
Hello!

I am very interested in this component, looks really interesting,  but I can't find it on Yarn as the Readme file specifies... is there any other way I can import this component in my project?

[2017-12-14 14:49] kuhnroyal commented on #1
I just published it on the npm registry. It was not published so far, as the README stated ;)
Give it a try.

[2017-12-14 14:49] #1 closed

[2017-12-15 09:13] javieraviles commented on #1
Working like a charm in a Firebase-Angular5-Material project, trying out Spanish internationalization, enough with MatNativeDatetimeModule. Thank you so much!!!!!!

![image](https://user-images.githubusercontent.com/8101719/34034904-a273bde0-e180-11e7-92c3-f2944165dc8d.png)

[2017-12-21 15:29] bastienlemaitre opened #2 "NPM package"
Did you commit your npm package ?

[2017-12-21 15:59] kuhnroyal commented on #2
Yes

https://www.npmjs.com/package/@mat-datetimepicker/core
https://www.npmjs.com/package/@mat-datetimepicker/material

[2017-12-21 15:59] #2 closed

[2017-12-28 11:32] bastienlemaitre opened #3 "Ability to choose year"
![image](https://user-images.githubusercontent.com/11610748/34409604-1334f626-ebcb-11e7-99a0-cf8cebcc929f.png)
Its possible to add a functionality to choose year ?
Thanks

[2017-12-28 19:26] kuhnroyal commented on #3
You can click on the year and use the left/right chevrons to pick a year.

[2017-12-29 08:26] JackieManuja opened #4 "Will it work with angular-4 and material-2.0.0.12-beta"
Thanks for the great component! 👍

Will it work with angular 4 and material 2.0.0.12-beta?

[2017-12-29 08:35] kuhnroyal commented on #4
No, this is based on angular/material 5.

[2017-12-29 10:44] JackieManuja commented on #4
I have a project with Angular 4 and Angular-material-2.0.0.12-beta, any workaround to use this component?

[2017-12-29 10:55] kuhnroyal commented on #4
No, this component requires the datepicker base classes that came later somewhere in material 5.0.0-rcX.
Which in turn requires angular 5.

[2018-01-02 08:50] bastienlemaitre commented on #3
A little complicated when you want to choose a date of birth.

[2018-01-09 10:10] bastienlemaitre opened #5 "Can't set value with datetime"
When i set the value into my form, the minutes and seconds are not displayed.. Any reason ?

View:
![image](https://user-images.githubusercontent.com/11610748/34715564-5bc41e06-f52d-11e7-94a2-c07ada830854.png)

Code;
![image](https://user-images.githubusercontent.com/11610748/34715589-6b10afbe-f52d-11e7-8e3f-f2d41e85b42a.png)

Code inline
[code]

Console:
![image](https://user-images.githubusercon

[2018-01-09 12:12] kuhnroyal commented on #5
You need to set the type `type="datetime"` as shown in the README. The default is `date`.

[2018-01-09 12:12] #5 closed

[2018-01-09 12:12] #4 closed

[2018-01-09 12:13] kuhnroyal commented on #3
I agree, I have the same problem but currently not the time to redesign this.

[2018-01-09 20:12] bastienlemaitre commented on #5
Is already set to type="datetime"..

[2018-01-09 20:13] bastienlemaitre commented on #3
Can we use any virtual scroll and add view for choosing year/month ? Can i do a pull request ?

[2018-01-09 20:31] kuhnroyal commented on #5
Please try to provide an example that reproduces the issue. Than I can reopen and look at it. For more I don't have the time. Plunkr, Stackblitz etc.

[2018-01-09 20:32] kuhnroyal commented on #3
Sure, if you find a good way that doesn't completely go against the current design.

[2018-01-10 10:35] bastienlemaitre commented on #5
Found why..
https://angular-material-datetimepicker-issue.stackblitz.io

The matInput must be declared after mat-datetime-picker

[2018-01-10 22:24] dannyhchan opened #6 "Time & Minutes disabled but able to select it."
When setting [min]="1/11/2018 3:00 AM", the UI shows 1:00 AM and 2:00 AM as disabled on the same date.  Even in disabled state, you can click and select times before 3:00 AM even though [min] shows 3:00 AM as minimum time.

Attached is a screen shot.
![datetime-picker-bug](https://user-images.githubusercontent.com/8468808/34798705-25b95b92-f62b-11e7-95d8-2f200862edc7.PNG)

[2018-01-11 04:54] npdung opened #7 "Does not implement inherited abstract member 'fromIso8601'"
With  `"@angular/material": "^2.0.0-beta.12"`

I have error when build
![image](https://user-images.githubusercontent.com/10497117/34809168-de58f208-f6c5-11e7-983e-e8c5d52a1f74.png)

[2018-01-11 08:02] bastienlemaitre commented on #7
Please install Angular > 5.0 and Material > 5.0 because "Material Datetimepicker for @angular/material 5.x"

[2018-01-11 08:18] bastienlemaitre commented on #6
Please create a demo on plunker or stackblitz.

[2018-01-11 11:00] kuhnroyal commented on #7
Yes, this doesn't work with the 2.x.x-betas.

[2018-01-11 11:00] #7 closed

[2018-01-11 11:00] kuhnroyal commented on #6
I will try to take a look at this on the weekend.

[2018-01-12 17:40] xyezir opened #8 "in angular 5.2.0 error"
![image](https://user-images.githubusercontent.com/5794890/34887794-b3beb97c-f802-11e7-9128-7e5ce163085d.png)

[2018-01-12 22:54] bastienlemaitre commented on #8
Try
[code]

[2018-01-14 14:24] kuhnroyal commented on #8
Not sure, I can run it with angular 5.2.0. Need more information.

[2018-01-14 14:43] kuhnroyal commented on #6
Able to reproduce this.

[2018-01-14 18:26] #6 closed

[2018-01-14 18:39] kuhnroyal commented on #5
Fixed in 1.0.2: https://stackblitz.com/edit/angular-material-datetimepicker-issue-1czu9e

[2018-01-14 18:40] kuhnroyal commented on #6
Fixed in 1.0.2

[2018-01-14 20:14] dannyhchan commented on #6
Thank you!

On Sun, Jan 14, 2018 at 1:40 PM, Peter Leibiger <notifications@github.com>
wrote:

[2018-01-14 21:55] bastienlemaitre commented on #5
Thanks !

[2018-01-15 13:17] Tommatheussen opened #9 "No theming"

[2018-01-15 13:49] kuhnroyal commented on #9
I agree that there is room for improvement here, but I am not sure I will find the time to work on this.
My projects always have a custom theme, so there is no immediate need from my side.

For the moment you have to redefine the default theme in your sass file.

[2018-01-15 16:23] dannyhchan commented on #6
Kuhnroyal,
I installed the latest and noticed another issue now.  I set the [min] with return moment().  My current local time is 1/15/2018 11:00 AM, and the rest of the times are blocked off thinking is 11:00 PM.

I have attached a screen shot.  As you can see, I display the datetime on top of the field the value I'm passing into [min].  And 1 PM, 2 PM, etc is blocked off.

![datetime-picker-bug]

[2018-01-15 16:29] kuhnroyal commented on #6
This is a 24 hour clock. There is currently no AM/PM mode.
1AM = 1
1PM = 13

[2018-01-15 16:33] dannyhchan commented on #6
Understood. The problem is I can't select anything beyond 12.  The min time
I have is 1/15/2018 11:22:08 GMT-500.  I cannot select 1/15/2018 13:00,
14:00 etc.  The min is the minimum time to start at with no max set, so I
should be able to select 13,14, etc.

Hope that clarified it.

On Mon, Jan 15, 2018 at 11:29 AM, Peter Leibiger <notifications@github.com>
wrote:

[2018-01-15 16:35] kuhnroyal commented on #6
Ah ok, got it

[2018-01-15 16:43] kuhnroyal commented on #6
Just tried real quick and can not reproduce this in my timezone. Can you setup a plunkr/stackblitz that reproduces this?

[2018-01-15 17:03] dannyhchan commented on #6
Just checked it's my fault.  The webpack i was using never compiled that
bundle properly.  So I redid it and it works fine now.  Thanks again!

On Mon, Jan 15, 2018 at 11:43 AM, Peter Leibiger <notifications@github.com>
wrote:

[2018-01-17 02:50] xyezir commented on #8
Its ok, but i need npm i @angular/material-moment-adapter, document did not say.

[2018-01-17 11:33] kuhnroyal commented on #8
Added a line to the README.

[2018-01-17 11:33] #8 closed

[2018-01-23 07:04] kyawkhaing opened #10 "mat-datetimepicker keep opening"
I am using latest version 1.0.2 , I am facing one issue in the ie 11, when click in the text box, instead of clicking on the calendar icon , Calendar popup comes up but after choosing the date popup close and open again, keep happening like this.Can't close totally.  Even though I call datetimepicker.close() function, behaviour still the same. When I called datetimepicker.close(), calendar popup c

[2018-01-24 10:50] kuhnroyal commented on #10
Maybe I can look at this at the weekend, not sure I find an IE11 somewhere tho.
Do me a favor and see if the datetimepicker here works in IE11: http://code.promactinfo.com/md2/#/datepicker

[2018-01-31 11:53] benoitbzl opened #11 "A 'time' type for the mat-datetimepicker component reports a form error when the time is typed in the input element"
The time format reported is for example (for `en-US` local) like "12:58 AM". This format is not recognized by the native date format obviously.
Using the `momentjs` format, it should work, but there is a limitation in the code that don't select a correct `momentjs` parsing format string for time only.

I will propose a PR to fix that issue.

[2018-02-16 18:29] Mctalian commented on #11
I believe I'm having this problem as well. When a user types into the input field 12:58 AM, and then you click on the field to open the DateTimePicker, it shows "00:00" for the time. Same issue, I presume, and your PR would fix it?

[2018-02-19 14:16] benoitbzl commented on #11
Yes I believe this is the same issue. You can test my fix using my branches npm-core and npm-moment that contain the npm packages with my fix.
You can use them in your package.json file as:
    "@mat-datetimepicker/core": "git+https://git@github.com/benoitbzl/mat-datetimepicker.git#npm-core",
    "@mat-datetimepicker/moment": "git+https://git@github.com/benoitbzl/mat-datetimepicker.git#npm-moment"

[2018-02-20 17:17] JusuVh opened #15 "No way to change date label in header"
Would be nice to be able to change the format of the **mat-datetimepicker-calendar-header-date** with a moment format for example.
I'm using localised formats and the date is kind of 'americanised'.
Thanks

[2018-02-21 21:20] Mctalian commented on #11
@benoitbzl Sadly, that doesn't seem to fix my issue. But I did have some trouble getting the install working. My console kept closing after I issued the command

[2018-02-22 18:11] leandromsa opened #16 "Date Format"
Hello, there is some possibility of changing the format of the date?

[2018-02-23 15:55] tommueller opened #17 "add type = year to mat-datetimepicker"
Hi, thanks for the great lib!

Any chance there could be another type added, where the user can just select a year?

Cheers.

[2018-02-27 09:58] SoumenDass opened #18 "No option to input seconds"
I have not found any material design datetimepicker which allows to input seconds as well. Will it be possible to add this functionality?

Also, is there an online demo for this component I can try?

[2018-03-08 17:45] metazoa-org opened #19 "dateFilter does not trigger on a clock view"
Hi, thank You for this great job!
I just would like to ask why dateFilter trigger only on a year and month views and not on a clock one? I try to filter also hours per day but without the dateFilter triggering I am not able to figure it out.

[2018-03-09 14:04] paulo3262 opened #20 "How to set locale in datebox (ex: ja-JP)"
_**need to change the location of the date box, is in English, how to change this setting**_

![captura de tela de 2018-03-09 11-03-12](https://user-images.githubusercontent.com/17967366/37211075-8e1a0cf0-2389-11e8-9c63-2ceffa282582.png)

[2018-03-14 15:28] tommueller opened #21 "Not working in IE11"
Hi,

running this in IE11 works, but the dialog cannot be closed anymore, also on selecting a date the popup does not close. Any chance this can be easily fixed?

Thanks!

[2018-03-16 08:14] visurel commented on #16
Take a look at the DateAdapter! That's where all the magic happens. :)

[2018-03-19 13:14] tommueller commented on #21
I managed to track down the issue and created a PR to show it. It's a IE specific bug with your refocus code, not sure if you want to remove it completely as I did for not.
https://github.com/kuhnroyal/mat-datetimepicker/pull/22

[2018-03-31 10:31] #11 closed

[2018-03-31 16:13] kuhnroyal commented on #21
Fixed by 0e67e30b2734985b8dddaa72b03bf1dff70c6b84

[2018-03-31 16:13] #21 closed

[2018-03-31 16:13] kuhnroyal commented on #10
Fixed by 0e67e30b2734985b8dddaa72b03bf1dff70c6b84

[2018-03-31 16:13] #10 closed

[2018-03-31 16:34] kuhnroyal commented on #20
If you use moment you also need to add the moment locales that you need.
In `angular-cli` all locales are pulled in by default. If you use webpack or something else you might need to import them yourself.

https://github.com/moment/moment/issues/2416
https://github.com/moment/moment/issues/2608#issuecomment-336059877

Something like this might work
[code]

[2018-03-31 16:34] #20 closed

[2018-03-31 16:37] kuhnroyal commented on #18
There is currently no demo, will see if I can set something up at some point.

I am not sure if seconds input would be widely used. If you can provide a PR we can probably add it. I will most likely not implement this.

[2018-03-31 16:40] kuhnroyal commented on #19
Please try to provide a stackblitz/plunkr demonstrating this.

[2018-03-31 16:47] kuhnroyal commented on #16
You can provide a custom instance of `MatDatetimeFormats`.
[code]

These are the defaults depending if you use native and moment:
[native-datetime-formats.ts](https://github.com/kuhnroyal/mat-datetimepicker/blob/master/lib/core/src/adapter/native-datetime-formats.ts)
[moment-datetime-formats.ts](https://github.com/kuhnroyal/mat-datetimepicker/blob/master/lib/moment/src/adapter/moment-datetime-form

[2018-03-31 16:47] #16 closed

[2018-04-01 03:06] SoumenDass commented on #18
I'll see if I can work on a PR. Btw, the ability to input time including seconds is a common requirement in the Financial industry (especially in case of transactions) and right now there isn't a date time picker that allows that.

[2018-04-03 12:57] #19 closed

[2018-04-12 07:19] Tommatheussen opened #23 "Placeholder broken when ChangeDetection is used"
When change detection is set to `OnPush` inside the component showing the datetimepicker, and a value is filled (prefilled or selected from the calendar), the placeholder does not move up like the normal material inputs. You can see this behaviour by running the demo and setting the chagnedetection on 1 of the components (native or moment).
<img width="879" alt="image" src="https://user-images.git

[2018-04-26 10:54] raualvron commented on #15
I agree with you @JusuVh.

Hopefully we can get it soon.

Thanks

[2018-05-28 07:19] michaelsivo opened #24 "Invalid input when manual modification with specific localization"
Hello,

I'm using a specific localization for my datetime picker, the display is correct and if I'm using the picker it works well. However, if I'm trying to modify directly the date, the input is invalid while the date entered is correct in its localization format.

App.component.ts

[code]

App.component.html

[code]

App.module.ts

[code]

[2018-05-28 07:45] JusuVh commented on #24
Hi,
I don't think it's clearly indicated in the docs by you should use the MAT_DATETIME_FORMATS provider to specify the formats for parsing and display.
Add this to your app.module providers (specifically the **dateInput** in the parse object) :

[code]

Also, there should be a **datetimeInput** in the parse object, because if you use date and datetime types at the same time, there is confusion on

[2018-05-28 08:18] michaelsivo commented on #24
Thanks, I found the problem. I have to use

`private adapter: DatetimeAdapter<NativeDatetimeAdapter>`

instead of

`private adapter: DateAdapter<NativeDateAdapter>`

I can't use the MAT_DATETIME_FORMATS provider because I'm making a component library that have the localization as input. So, I need to use the adapter which will modify the format based on the localization the user will give as input

[2018-05-28 08:32] michaelsivo commented on #24
I have added the MAT_DATETIME_FORMATS to my module and changed

private adapter: DateAdapter<NativeDateAdapter>

into

private adapter: DatetimeAdapter<NativeDatetimeAdapter>

Now the datetimepicker only display the date and not the time. I think it is related to your last sentence but i didn't understand what you meant by date and datetime confusion. Is it realted to the js Date type?

[2018-05-28 09:15] kuhnroyal commented on #24
Date(time) parsing with the native date implementation is not supported, this is a limitation of the native date and the INTL API .
See [Material2 native-date-adapter.ts](https://github.com/angular/material2/blob/master/src/lib/core/datetime/native-date-adapter.ts#L176)

If you want to display and parse a certain datetime format, you have to use the moment adapter and set the `display.datetimeInpu

[2018-05-28 14:09] michaelsivo commented on #24
Ok thanks!

[2018-05-28 14:09] #24 closed

[2018-05-28 14:37] johankvint opened #25 "Angular 6"
Hi,

Do you have any plans on updating this to angular 6?
I'm able to use this in my angular 6 project with rxjs-compat, but would be nice to skip that package.

Thanks

[2018-05-28 18:12] johankvint commented on #25
https://github.com/kuhnroyal/mat-datetimepicker/pull/26

I made a minimal effort here to update to angular 6 but have not yet confirmed if it actually works to remove rxjs-compat.
Can someone help me confirm. Will hopefully be able to try later today.

[2018-05-28 19:39] johankvint commented on #25
Have tested to build and use in a project using angular/material/rxjs 6 and it works fine

[2018-05-29 09:33] kuhnroyal commented on #25
I may be able to get to this by the end of the week.
Any ideas about what version number you would like to see for this?

[2018-05-29 10:28] johankvint commented on #25
@kuhnroyal I used a version of 2.0.0 in the package.json's as this will be a breaking change.
Do you want me to update the Readme as well?

[2018-06-05 12:59] thorstenKoch opened #27 "Predefined value for date will not be taken"
We have the following html code:

In our reactive form, we will set the value like that:

but the input field is empty and the given date isn't used as preselection in the date calendar.

Version 1.0.4

[2018-06-05 13:15] kuhnroyal commented on #27
You are setting a string value `dueDate.toISOString()`, you probably need to set the date/moment instance directly.

[2018-06-06 14:35] axiom88-guru opened #28 "No option to put date ?"
Thanks for great lib,
Is there any way to put pre-defined date?
dueDate is not empty value and but it always show empty.

`<mat-datetimepicker-toggle [for]="datetimePicker" matSuffix></mat-datetimepicker-toggle>
 <mat-datetimepicker #datetimePicker type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>
 <input matInput formControlName="dueDate" [matDatetimepicker]="datetimePicke

[2018-06-06 14:50] kuhnroyal commented on #28
Make sure the dueDate formControl contains a date instance. See https://github.com/kuhnroyal/mat-datetimepicker/issues/27

[2018-06-06 14:57] #28 closed

[2018-06-06 15:15] dannyhchan commented on #25
I'm planning to update to Angular 6 as well.  When will the new release package be out? Thanks

[2018-06-11 15:26] Hyuchiha commented on #25
Hi, i want to update to angular 6, do you have any date for the update? Thanks

[2018-06-15 09:56] narthur157 opened #29 "Using type=time, direct input is allowed but parsed as date"
If you use this just for the timepicker (I also use it for the datetimepicker of course), with Moment, it tries to convert input into the field into a date. So entering "12:35" will result in "null" because it's not a date.

[2018-06-15 11:29] kuhnroyal commented on #29
Make sure you set the parse format or use the default formats `MAT_MOMENT_DATETIME_FORMATS`.
[code]

[2018-06-15 11:33] narthur157 commented on #29
Where do you set this? I use the default for my date format

[2018-06-15 11:45] narthur157 commented on #29
Nevermind, I see now, this is a separate option

[2018-06-15 11:45] #29 closed

[2018-06-29 06:27] dzurikmiroslav opened #31 "Min max validation"
While writing the value into the associated text input, min / max validation does not take into account the time component.

[2018-07-02 13:52] #31 closed

[2018-07-02 14:13] kuhnroyal commented on #25
There is a version 2.0.0 out now, give it a try.

[2018-07-02 14:13] #25 closed

[2018-07-04 20:32] ddklo opened #33 "Component fails to package with ng-packagr"
When testing the component in an Angular 6 library I get the following error when running ng-packagr:

I think it might be related to AoT and the use of the property in a directive with host.

[2018-07-06 11:04] raualvron opened #34 "Any way to set a minimum date?"
It would be nice to be able to set a minimum date for mat-datetimepicker with a moment date

Thank you.

[2018-07-06 11:10] kuhnroyal commented on #33
I can fix this specific error but I am not sure what else is needed to get it running.

[2018-07-06 11:11] kuhnroyal commented on #34
You can find an example here: https://github.com/kuhnroyal/mat-datetimepicker/blob/master/src/app/date.component.html

[2018-07-06 13:31] raualvron commented on #34
Thank you for your quick response and the example @kuhnroyal.

[2018-07-06 13:31] #34 closed

[2018-07-06 17:11] kuhnroyal commented on #33
I have update the project to latest angular CLI and ng-packagr. The sample app runs fine with `ng serve --prod` which should have AOT enabled. I am not sure why my build is not catching this.

[2018-07-06 17:12] kuhnroyal commented on #33
You can try with `2.0.1-beta.0`

[2018-07-06 20:29] ddklo commented on #33
Thank you for updating, but I still get the same error with 2.0.1-beta.0.  `ng serve --prod` works fine for me too. It is running `ng-packagr -p ng-package.json` that fails. Where ng-package.json contains the following:

[code]

ng-packagr is version 3.0.3

[2018-07-09 07:30] ricardojbertolin commented on #23
Same here

[2018-07-09 10:03] kuhnroyal commented on #33
I didn't fix the problem yet, I want to catch this in my own build first.
Do you use a custom tsconfig?

[2018-07-09 10:57] kuhnroyal commented on #33
I published `2.0.1-beta.1` in which I made the `_dateAdapter` property public.

[2018-07-09 12:41] kuhnroyal commented on #15
Please review the PR and check if that is what you are looking for.

[2018-07-09 12:43] ddklo commented on #33
Thanks, beta.1 fixed the issue for me.

tsconfig is almost standard (from angular cli 5.x project), but there are a few options added to support generating the lib.

[code]

[2018-07-09 13:15] kuhnroyal commented on #33
Thanks, I still can't get my build to fail tho.

[2018-07-10 11:06] kuhnroyal commented on #15
Released in 2.0.1.

[2018-07-10 11:06] #15 closed

[2018-07-10 11:06] kuhnroyal commented on #33
Released in 2.0.1

[2018-07-10 11:06] #33 closed

[2018-07-10 11:09] kuhnroyal commented on #23
Released in 2.0.1

[2018-07-10 11:09] #23 closed

[2018-07-10 14:46] ricardojbertolin commented on #23
Tested in my project and working fine. Thank you!

[2018-07-13 20:58] KeithPepin-CyG opened #37 "Documentation Request - date formatting in the input and dialog to alter the date format"
Thank you for providing the great date/time picker. I've been able to include it in my project and have the basic functionality for it in place. I do have several questions about how to get it to display things in different formats though and don't really understand how to configure the adapters.

In my shared material module I've included the `MatMomentDatetimeModule`,
  `MatDatetimepickerModule`

[2018-07-14 11:10] kuhnroyal commented on #37
This datatime adapter just extends the @angular/material dateadapter. All the configuration works the same way, just with some added options.

You can follow the last example on this page https://material.angular.io/components/datepicker/examples
* provide a custom instance of [`MatDatetimeFormats`](https://github.com/kuhnroyal/mat-datetimepicker/blob/master/projects/core/src/adapter/datetime-form

[2018-07-16 13:58] KeithPepin-CyG commented on #37
Thanks for the reply @kuhnroyal. I had read through the adapter documentation from the folks on the Angular team, and it didn't make sense to me yet. I was hoping for more detailed examples than the singular one they provided. I'll keep plucking away at it and see what I can come up with.

The lack of am / pm for the clock is a bit disappointing. Is that a feature you are considering for the futur

[2018-07-16 14:54] kuhnroyal commented on #37
I have added a format configuration to the moment example.
See [moment.component.ts](https://github.com/kuhnroyal/mat-datetimepicker/blob/master/src/app/moment/moment.component.ts)

Unfortunately I don't need am/pm and I have the time to work on it anytime soon. Unless somebody provides a PR, I don't see this happening. Sorry.

[2018-07-19 14:22] bisonfoutu opened #38 "Midnight label issue"
According to the official Android timepicker, the hour label for displaying midnight should be 00.
It's currently 12, this can be disturbing for users to find out which hour to select, as noon and midnight are displayed with the same value.

[2018-07-28 13:54] hiteshmungpara opened #39 "[twelvehour]=true not working"
i set this to true but no AM or PM option available

[2018-07-29 13:54] kuhnroyal commented on #38
This is actually very interesting, there are so many different layouts out there.

[2018-07-30 03:14] mungpara commented on #39
https://github.com/kuhnroyal/mat-datetimepicker/blob/23235be45057f0104115afa5a8a2dc7fc0e4f38f/projects/core/src/datetimepicker/clock.ts#L107

[2018-07-30 09:22] kuhnroyal commented on #39
Yea, I saw this as well. This is still left over from the original date-time-picker but even there it was not a working input. I will see what I can do.

[2018-07-30 10:30] bushybuffalo commented on #38
Well, I since figured I did not need a timepicker in my app anyway, so I cannot currently check this out, but I clearly remember seeing two hours labelled "12" on the timepicker, and found it so disturbing that I decided to create this issue.

Below is a screenshot of the native Android timepicker I just took on my phone. I believe it should set the standard.

![material timepicker](https://user-i

[2018-07-30 12:44] kuhnroyal commented on #38
Did you use the moment-adapter? Could be that some moment locale has these weird hours, then it is a moment problem. It should not be happening with the native-adapter.

[2018-07-31 16:25] rebendajirijr opened #40 "Unable to change month when day index is outside bounds"
**Steps to reproduce:**

1. Choose some date which is last day of month (e.g. 31 days long months - January, March, etc.)
2. Now try to change the selected month to a month with less days in total (like February).
3. Error appears due to this [line](https://github.com/kuhnroyal/mat-datetimepicker/blob/2.0.1/projects/moment/src/adapter/moment-datetime-adapter.ts#L98).

![image](https://user-images.

[2018-08-09 03:03] elkhouri opened #41 "Dependency Inconsistency"
`npm WARN @mat-datetimepicker/moment@2.0.1 requires a peer of @mat-datetimepicker/core@2.0.0 but none is installed.`

I have @mat-datetimepicker/moment@2.0.1 and @mat-datetimepicker/core@2.0.1 installed. It seems there is a inconsistency in the dependency versions. Or is this intended?

[2018-08-09 09:59] kuhnroyal commented on #41
Nah, I keep forgetting to update the version in the moment module...

[2018-08-10 10:23] eromano opened #42 "mat-datetimepicker production mode"
Hi I am tryng to use the last version 2.0.1 in production mode and seems that the calendar day are nor present
![screen shot 2018-08-10 at 11 21 51](https://user-images.githubusercontent.com/1030050/43953059-befe5d7e-9c8f-11e8-8191-62888d09ed6e.png)

[2018-08-22 14:55] JSilva94 opened #43 "Min and Max dates not working"
<mat-datetimepicker #datetimePickerEnd type="datetime" [min]='minDate' openOnFocus="true" timeInterval="5" ></mat-datetimepicker>

Min date not working, however it works on md2. How am I able to get this to work?

Thanks

[2018-08-22 16:53] kuhnroyal commented on #43
Make sure the date is of the correct type moment/date. There are examples in the repository.
https://github.com/kuhnroyal/mat-datetimepicker/issues/34

[2018-08-27 19:52] thienedits opened #44 "Convert @angular/material imports to make them tree shakable"
Please look at the material2 issue and specifically the comment from the link below:

https://github.com/angular/material2/issues/4137#issuecomment-336590835

[2018-09-02 01:08] jac0117 commented on #5
@bastienlemaitre's solution worked for me.

[2018-09-05 09:57] JusuVh opened #45 "Type=time broken since 2."

[2018-09-05 10:27] JusuVh commented on #45
For anybody intrerested, I worked around this by forcing the value of the input element to the correct format in the afteViewInit lifecycle hook.

Example code:
`
time = new FormControl(moment());

@ViewChild('timeInput') // reference to the input
timeInput: ElementRef;

ngAfterViewInit() {
    if (type === 'time' && this.time.value) {
      this.timeInput.nativeElement.value = (this.time.value as

[2018-09-12 11:10] carbonrider opened #46 "Couldn't find moment datetime adapter"
As stated on the home page of the repository, I couldn't find moment datetime adatper. Can it be made available?

[2018-09-12 11:28] carbonrider commented on #46
Sorry, I noticed the adapter is available in @mat-datetimepicker/moment. I still have issue though. I am using follwing statement for provider

{ provide: DatetimeAdapter, useClass: MomentDatetimeAdapter, deps: [MAT_DATE_LOCALE] },

And getting following error

JobInviteComponent.html:46 ERROR TypeError: Cannot read property 'createDate' of undefined
    at MomentDatetimeAdapter.push../node_module

[2018-09-12 11:57] kuhnroyal commented on #46
Your material version is probably to old/new.

[2018-09-17 06:40] ebenezer49 opened #47 "mat-datetimepicker format="y-mm-dd HH:MM:ss" setting has no effect"
In order to enable the user to **enter seconds**, "**format: 'y-mm-dd HH:MM:ss'**" is set on "mat-datetimepicker" , but the setting has no effect.

[code]

[2018-09-17 06:49] ebenezer49 commented on #47
[code]
It also has no effect

[2018-09-19 03:36] #47 closed

[2018-10-17 11:05] gkimpson opened #48 "Working Demo"
This plugin seems great - I just wondered if someone had a working demo of this so I can determine at a glance if this is what I need for my next project? Thanks in advance

[2018-10-17 13:05] derflocki opened #49 "@mat-datetimepicker/moment peerDependency"
@mat-datetimepicker/moment defines a peerDependency to `"@mat-datetimepicker/core": "2.0.0"`.

The [npm-blog](https://nodejs.org/en/blog/npm/peer-dependencies/#using-peer-dependencies) suggests using semver for peerDependencies: E.g.: `"@mat-datetimepicker/core": "^2.0.0"`

[2018-10-23 15:45] tomas-javurek opened #50 "view change event"
Great job @kuhnroyal !!
Please, is there any way how to get some change event while the View "clock" | "month" | "year" switched by user?
It would be probably good for the date filtering. Now it is so that the year and month views trigger the time with the current hours and minutes. Which is, for sure, absolutely right, but what about the case I need to filter date only on the clock view?

[2018-10-29 10:57] Saranya-Ravichandran opened #52 "Material Datetimepicker for @angular/material 6.x"
I'm using angular v6 and I've imported MatDatepickerModule,MatDatetimepickerModule and MatMomentDatetimeModule in app.module.ts file

But I get this error message
 ERROR Error: Uncaught (in promise): TypeError: _super.prototype.createDate.call(...).format is not a function
TypeError: _super.prototype.createDate.call(...).format is not a function
    at mat-datetimepicker-moment.js:52
    at range

[2018-11-07 11:24] carbonrider opened #53 "Deprecated property - underlineRef (starting position of datetimepicker goes haywire)"
I am using Angular 6.X. I noticed that when I use mat-form-field with an outline as appearance (check below), the datetimepicker popup opens at the very left top corner of the browser.

<mat-form-field appearance="outline">

</mat-form-field>

After going through the datetimepicker code, I realized that it uses underlineRef property to determine position. The property has been deprecated in Angula

[2018-11-09 08:31] rebendajirijr opened #54 "Angular 7 support"
Could you please add support for Angular 7?

[2018-11-15 14:07] jakobsanne commented on #53
I can confirm that using Angular 7.x, Material 7.x and
[code]
breaks the application:

[code]

[2018-11-29 08:15] sapabg commented on #9
I could not make it work by just importing the theme in my styles.css file but I was able to make it work by createing an scss file in my assets folder and including it in my angular.json file in the styles array.
In any other case I got an error processing the scss files.
The file I created is the same as https://github.com/kuhnroyal/mat-datetimepicker/blob/1.x/src/styles.scss except the first li

[2018-12-10 08:23] NiZelooer opened #56 "Module ''moment'' has no exported member 'Moment'"
I use Angular 6.0.7 and Angular Material 6.3.3.
![image](https://user-images.githubusercontent.com/29887804/49719329-23f1b000-fc5d-11e8-98dc-2f6709f23667.png)

To get this Issue I use @mat-datetimepicker/moment version 2.0.1.

FYI: I'm upgrading my angularJS project to Angular 6.

[2018-12-11 12:21] #56 closed

[2018-12-14 15:32] kuhnroyal commented on #49
I disagree, peer dependencies of the same library need to be a fixed version. `moment-2.0.1` needs exactly `core-2.0.1` and not some other future version.

[2018-12-14 16:32] kuhnroyal commented on #54
Added `3.0.0-beta.0` built on angular/material 7.1 - give it a try.

[2018-12-14 16:32] #41 closed

[2018-12-14 16:33] #46 closed

[2018-12-14 16:41] kuhnroyal commented on #45
I can not reproduce this on master with either native or moment adapter. Using the sample app and setting `time: [new Date(), Validators.required]`.

Can you provide a sample?

[2018-12-14 17:04] kuhnroyal commented on #42
I have no idea, is this still a problem?
The example app in this repository works fine with  `ng serve --prod`.

[2018-12-16 16:47] kuhnroyal commented on #50
Please review #58

[2018-12-16 16:48] kuhnroyal commented on #43
Is this still an issue or did you solve your problem?

[2018-12-16 17:18] kuhnroyal commented on #40
Please review #59

[2018-12-16 17:39] dgutoryan opened #60 "Time in UTC"
I would like to use time in UTC but I didn't find this functionality.

Could you add such possibility, please?

[2018-12-16 17:48] #37 closed

[2018-12-17 15:49] spiraljacobs commented on #54
Is 3.0.0-beta.0 up on NPM?  What about for ng-pick-datetime-moment?

[2018-12-17 15:53] StephaneC commented on #43
Hi.
Looks like I'm having the same issue.
Everythings works great until i add [min]

The Angular error:

1. If 'mat-datetimepicker' is an Angular component and it has 'min' input, then verify that it is part of this module.

My HTML
`    <mat-form-field>
        <mat-datetimepicker-toggle [for]="datePicker" matSuffix></mat-datetimepicker-toggle>
        <mat-datetimepicker [min]="startDate" #dateP

[2018-12-20 12:22] NiZelooer opened #61 "can't change format month"
When i open my datetimepicker and configures it so, that i can only choose the month i can't change the format for it.
![image](https://user-images.githubusercontent.com/29887804/50284712-2f618a00-045a-11e9-968c-15eba943de57.png)

![image](https://user-images.githubusercontent.com/29887804/50284721-39838880-045a-11e9-9075-79e47c1ce44c.png)

[2018-12-20 13:17] Fieel commented on #54
Where can i find this? It's nowehere to be found. When will 3.0.0 be released btw? Thank you for your work man.

[2018-12-21 14:20] sunildipun opened #62 "Matdatetimepicker is not visible. No error in console"

[2019-01-04 00:11] alessiostalla opened #63 "Locale change does not seem to work"
[code]

Observed effect: regular Material date picker switches from DD/MM to MM/DD. Date-time picker doesn't. However, in the popup the names of months and days do change.

[2019-01-28 20:16] jcanning commented on #34
Is there any way to get this to work with the just the time? I have a requirement for "Booking Hours" where they are only open from 8:00 to 20:00. So that those are the only hours to show?

[2019-01-28 20:19] jcanning commented on #43
@StephaneC I think it has to be applied to  the input field not the mat-dattimepicker field

[2019-02-01 07:41] brijeshborad commented on #53
I have also faced this issue. this issue will be resolved with the next release? If yes, then any approx time of next release?

[2019-02-19 07:51] NiZelooer opened #64 "datetimepicker as inline element"
Is it possible to display the picker as an inline element?

If yes how?

[2019-02-19 11:19] NiZelooer opened #65 "show different labels when datetime"
I have 2 input fields.

![image](https://user-images.githubusercontent.com/29887804/53011204-22ecb400-3440-11e9-8382-4b736ca1ebc1.png)

Both input fields are `type="datetime"`. But the label from number 1 should be the label from date. The label from number 2 should be the label from time.
For example:
number 1:
   `input="datetime"`
   the label in input should be DD.MM.YYYY
number 2:
   `input="

[2019-02-19 11:22] NiZelooer commented on #62
can you post some of your code?

[2019-03-04 06:30] jpike88 opened #66 "Dependency error"
```StaticInjectorError(Platform: core)[MatDatetimepicker -> MatDialog]: \n    NullInjectorError: No provider for MatDialog``` when trying to display the picker.

On angular 7.2.6,
angular-material 7.3.3.

I've noticed little activity recently. Is this repo dead?

[2019-03-04 06:46] jpike88 commented on #66
@kuhnroyal found the issue. But this should still stay open as an issue as it's a PITA to find out.

I have imported items as per documentation using '@angular/material' as the target library.

I had to use '@angular/material/dialog' to make your library work. I recommend following the angular material documentation standard

[2019-03-04 07:15] jpike88 commented on #3
Wow just found out this doesn't even do year... it's not much of a date picker then! Time to look for an alternative

[2019-03-04 07:16] #66 closed

[2019-04-02 05:41] robstoll commented on #60
I think the following already works (it's relying on MomentDateAdapter internally):
[code]

[2019-04-09 01:21] Luminoth commented on #54
Any chance we'll see this move out of beta soon?

[2019-04-10 02:35] ShaneLillieRAD commented on #45
I think I'm also having this issue on the 3.0.0 beta. I have essentially this setup:

[code]

[code]

In my case it starts invalid so the checkbox is not checked, but when I check the checkbox and the value becomes valid, it only shows the date until I click on the input to open the selector. Once that's open, the time displays alongside the date:

![image](https://user-images.githubusercontent.co

[2019-04-11 08:40] sapabg opened #67 "timeInterval not doing anything."
timeInterval is not doing anything. No matter the value I put there it always is 5 minutes.

[2019-04-24 01:03] sgabb commented on #60
Actually, the useUtc does not seem to work. Even by providing it in the AppModule (or in another module where the mat-datepicker is imported), the MatDatetimepicker ask to import either the MatNativeDatetimeModule or the MatMomentDatetimeModule or give out this error:

I have created this to replicate the issue:
https://stackblitz.com/edit/angular-vesksm-x5zk8x

As you can see, the value in the fo

[2019-04-24 01:05] sgabb commented on #48
Here is a small demo of the component: https://angular-vesksm-x5zk8x.stackblitz.io/

[2019-05-07 17:52] ShaneLillieRAD commented on #60
Unless I'm misunderstanding how this works, this:

`const result = moment({year, month, date, hour, minute});`

is the moment being created in local time, meaning the useUtc value is ignored.

[2019-05-21 09:19] q158467234 commented on #54
Does angular 7.0 support usage?

[2019-05-30 11:49] sapabg commented on #65
You need the type to be "time" in order to use that format (HH:mm).

[2019-05-31 14:50] alessiostalla opened #69 "Angular 8"
Support Angular version 8.x

[2019-05-31 16:52] alessiostalla commented on #69
At a quick glance, nothing needs to be done. The component seems to work as is.

[2019-06-04 13:58] NiZelooer commented on #65
@sapabg I want to set the date and time in both fields but show only the date in the date field and only the time in the time field.

[2019-06-04 14:02] sapabg commented on #65
I think that no matter what you show in the field it will always return a Date() object when you submit it. The type property only defines what to be shown in the input. I'll try to do an eample later.

[2019-06-17 12:54] PunkHaz4rd opened #70 "New Chrome version breaking"
Using mat-datetimepicker in a web component, was working before, but since the chrome update
(Version 75.0.3770.90) isn't anymore:
- Clicking on toggle open it but no data inside so it's just a small square.
- Clicking on input open it correctly but actions do not change date nor time.

[2019-06-20 11:05] carlba commented on #39
Does this mean it is not possible to show the clock in 12 hour mode in any way?

[2019-06-24 10:39] mateuszbyczkowski opened #71 "Unredeable header css"
.mat-datetimepicker-calendar-header has #fff color, identical to it's default background.
With default theme it's impossible to chosen datetime because it's white on white background.
It would be nice to make it customizable or to delete this css and let it inherit.

[2019-06-24 10:40] mateuszbyczkowski commented on #71
Example to issue.
![Capture](https://user-images.githubusercontent.com/17723906/60012847-425d4d00-967d-11e9-9d60-6cd1a81c14ab.PNG)

[2019-06-24 16:22] DenisaSurdu commented on #69
Hi I'm trying to upgrade my Angular 7 project to Angular 8 and I get the following:
[code]

[2019-06-25 13:32] alessiostalla commented on #69
@DenisaSurdu I think you can safely ignore those warnings. At least, in my project everything works despite those being raised. Still, if the library were updated to avoid them, it would be better.

[2019-06-28 13:16] DenisaSurdu commented on #69
@alessiostalla @kuhnroyal I've opened a pull request for this https://github.com/kuhnroyal/mat-datetimepicker/pull/72

[2019-08-09 09:16] alessiostalla commented on #69
@DenisaSurdu @kuhnroyal no progress is being made on this. Angular 9 is in the making. If you need help in maintaining the project I am willing to do it.

[2019-08-19 11:34] Urbanz91 commented on #9
@sapabg thanks, it's work for me.

[2019-08-22 09:47] DenisaSurdu commented on #69
@alessiostalla I can't merge the pull request because merging is blocked - the base branch requires all commits to be signed ( https://help.github.com/en/articles/about-commit-signature-verification ) and I don't know how to go around this.

[2019-08-27 19:45] hamouda06 commented on #60
Hello,

Please, do you have any update, for me it's the same it's not working...

Thank you

[2019-09-03 14:58] sonphnt opened #74 "Datetime format does not really work"
Hi, How do we display datetime like this in input
"yyyy-MM-dd HH:mm:ss"

I have tried many ways with provider but it does not seem to work. Could we have an example about this?

Thanks

[2019-09-03 15:21] sonphnt commented on #74
Got it to work now. We need to specify "providers" in component, not in module Thanks

[2019-09-03 15:21] #74 closed

[2019-09-05 04:09] pavankumarkatakam commented on #53
Im also facing same issue

[2019-09-09 17:42] GibranPolonsky opened #75 "Datetime picker crash when amt-form-field apperance outline"
[code]
Example code:
`<mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Number of bonds for sale</mat-label>
                <input matInput type="text" placeholder="Number of bonds for sale" formControlName="numberForSale" autocomplete="off"/>
                <mat-error *ngIf="form.get('numberForSale').touched && form.get('numberForSale').errors?.required

[2019-09-11 13:57] pavankumarkatakam commented on #64
Im also looking for the same, did you find how @NiZelooer .

My feature is to show a date timepicker with multiple dates selection.

[2019-09-11 14:02] NiZelooer commented on #64
Not direct.
But you can use the calendar. It's more or less the same but you probably need to write some workarounds to get it exactly the same.

[2019-09-29 23:28] TimHarker commented on #39
Can we show the clock in 12 hour mode?

[2019-09-30 16:27] Hyuchiha commented on #50
Any news on this feature?

[2019-10-11 16:21] intellix commented on #53
Fixed by this? https://github.com/kuhnroyal/mat-datetimepicker/commit/59c5ab84432538f26c9990f29bc757d5049bcfbf

[2019-10-30 05:24] bbortt opened #76 "project not maintained"
hello @kuhnroyal
it seems like this project is unmaintained at the moment. especially because of #73 is open since decades (at least it feels like it).
I would be willing to fork, distribute and maintain it further if you agree with it. thanks for your feedback.
br, timon

[2019-10-30 08:38] kuhnroyal commented on #76
I dunno if and when I will have time to work on this again. So for the time being, I have added you as collaborator here and on https://www.npmjs.com/org/mat-datetimepicker. Feel free to manage and release in the meantime.

[2019-10-30 08:38] #76 closed

[2019-10-30 09:08] bbortt commented on #76
thank you very much. I'll give my best

[2019-10-30 09:10] bbortt commented on #69
The merge was finished using the releases as uppon 2019/08/29.

[2019-10-30 09:10] #69 closed

[2019-10-30 09:13] bbortt commented on #54
bumped core to `angular/v8` in #73 .

[2019-10-30 09:13] #54 closed

[2019-10-30 09:15] bbortt commented on #40
Approved and merged in #59 .

[2019-10-30 09:15] #40 closed

[2019-10-30 09:24] bbortt commented on #44
This is a "must have" withing `angular/v8+`, I think. was partially done in #73 . will take a look at and merge #57 anyways.

[2019-10-30 16:31] #44 closed

[2019-10-30 16:34] bbortt commented on #50
someone needs to test #58 . would be willing to include it in the next release if someone approves the changes.

[2019-11-06 06:17] bbortt opened #77 "fix build, release"
As soon as the build will be fixed, we're ready to release an `angular/v8` compatible version. I'll try to take a look at it by the end of the week.
Contributions welcome as always.

[2019-11-19 17:59] mhagnumdw opened #78 "input before mat-datetimepicker*"
If the input is placed before mat-datetimepicker* the time only appears when clicking on the input.

![image](https://user-images.githubusercontent.com/17688846/69172061-e7b90780-0adb-11ea-8430-34538469e741.png)

![problem](https://user-images.githubusercontent.com/17688846/69172283-4e3e2580-0adc-11ea-9365-7c4636562561.gif)

If it is placed after mat-datetimepicker* everything works normally.

![i

[2019-12-04 11:14] pschild opened #80 "Usability on mobile devices"
Hi guys,

I included the DateTimePicker in my application, which primarily runs on mobile devices with touch functionality (i.e. Chrome on Android). Therefore, I'm using it with the option `touchUi` enabled, but nevertheless **I'm not able to choose hour and minute by sliding with my finger**. Instead, I only can choose it by tapping, but so it's very hard to precisely select the desired time.

Is

[2019-12-06 15:14] 695Multimedia commented on #71
I'm seeing this same issue. Any progress on this?

[2019-12-09 07:29] bbortt commented on #71
Hi guys. The project is currently "kind of maintained". I'm happy to accept PR's all the time. However I cannot find to implement features or fix bugs. In fact, I still didn't even found the time to fix the build (it's `angular/v8`) or to upgrade the angular version (`angular/v9` beta).

[2020-01-22 07:40] Photon79 opened #81 "Should work without entering a date. This is currently causing a parsing error."
![image](https://user-images.githubusercontent.com/169968/72874691-a4f5f480-3d03-11ea-8375-91e521d2dfe1.png)

[2020-01-29 13:58] shadowjustice commented on #77
Hi,

Has there been any progress towards this release?

Thank you.

[2020-01-29 19:47] shadowjustice commented on #77
In a sense to try and fix this myself I have tried first by updating all v8 versions to the latest available. Sadly no solution.

[2020-02-07 05:48] saminmel opened #85 "Compile error in Angular 9"
It fails to compile with Angular 9.

`ERROR in Failed to compile entry-point @mat-datetimepicker/core (module as esm5) due to compilation errors:
node_modules/@mat-datetimepicker/core/fesm5/mat-datetimepicker-core.js:820:30 - error NG1010: Value at position 0 in the NgModule.imports of NativeDatetimeModule is not a reference: [object Object]

820                     imports: [NativeDateModule],
[c

[2020-02-07 11:28] DenysVuika commented on #85
Having same issue when migrating from Angular 8 to 9 today. I really hope this can be solved easily.

[2020-02-07 11:58] bbortt commented on #77
I should be able to release a build based on commit c0a70499c1e3002abd563fff616e681ec57caa1c this weekend.

[2020-02-07 11:59] bbortt commented on #85
Test it using a compiled version from #84 .

[2020-02-07 18:50] #77 closed

[2020-02-10 16:27] m0t0r commented on #85
@saminmel the released 4.0.0 version should solve these issues. Please try it and close the issue if everything works for you.

[2020-02-11 02:10] JonathanWylie opened #86 "V 3.0.1 published /core package inconsistent peer deps"
I get this error

npm WARN @mat-datetimepicker/core@3.0.1 requires a peer of @angular/material@~8.1.4 but none was installed.

According to the git history:
https://github.com/kuhnroyal/mat-datetimepicker/commit/895f3185662f2f4de50d0b9c018f25573e44c639

Introduces version 3.0.1 it changed
    "@angular/cdk": "~8.1.4",	    "@angular/cdk": "~8.2.3",
but leaves angular/material at ~8.1.4
    "@angula

[2020-02-11 06:53] bbortt commented on #86
Thanks for the report! I missed those and will publish a fix `3.0.2` right away.
By the way tag `4.0.0` should be the latest version but is not tagged as `latest` on npm. I will have to retag this too.

[2020-02-11 07:01] bbortt commented on #86
Thanks again @JonathanWylie. Version `3.0.2` was published moments ago. Let me know if there are any more troubles.

[2020-02-11 07:01] #86 closed

[2020-02-11 09:58] JonathanWylie commented on #86
Thanks all fine now, I am using angular 8, so I think version 4.0.0 won't work.

[2020-02-21 18:48] maureliom opened #88 "DateTime popup dont open automatically when triggered by icon"
The error: { TypeError: Cannot read property '_focusActiveCell' of undefined } is thrown when trying to popup calendar date/time by icon, but when the input field is clicked many times the popup shows up, this happens even when outside *ngif tag, code below follows as template/example model:

        <mat-form-field *ngIf="boolean" fxFlex>
            <mat-label>Choose Date/Time</mat-label>

[2020-02-24 15:56] bbortt commented on #88
Which exact version are you using? And do you have any code in order to reproduce the problem?
I am generally not doing anything except testing/accepting pull-requests in this repository. Just got the contributor role because the maintainer was inactive for a long time.

[2020-03-12 13:38] pavankumarkatakam commented on #45
Same problem for me also.

[2020-03-13 06:40] pavankumarkatakam commented on #45
I tried @JusuVh workaraound, but it is not fully cleared, I also actually have hide and show button for that field, when we toogle the input time field in ngIf, it is again showing the Date rather than time.

[2020-03-26 14:36] DenysVuika opened #90 "Accessible name is not meaningful for Next and Previous elements in year view"
Currently, the screen reader announce it as previous and next month instead of previous and next year.

<img width="849" alt="Screenshot 2020-03-26 at 14 32 39" src="https://user-images.githubusercontent.com/503991/77658824-2588d980-6f6f-11ea-922c-7018ba6a073e.png">

**Expected behavior**
Ensure that accessible name is meaningful for the mentioned elements

[2020-03-26 14:37] DenysVuika commented on #90
I am working on the PR to fix this issue for the 3.x branch

[2020-03-26 19:59] DenysVuika opened #92 "Active date is not highlighted when using keyboard"
**Steps to reproduce**

- activate the date picker
- use keyboard to select different date

**Expected behavior**

- the new date is highlighted

**Actual behavior**

- no date is hightlighted

[2020-03-27 05:59] bbortt commented on #92
Fixed in #91 . Thanks @DenysVuika .

[2020-03-27 05:59] #92 closed

[2020-03-27 05:59] bbortt commented on #90
Fixed in #91 . Thanks @DenysVuika .

[2020-03-27 05:59] #90 closed

[2020-03-27 13:53] DenysVuika commented on #71
@bbortt I can help contributing and maitaining if you need an extra pair of hands :)

[2020-03-27 18:51] DenysVuika opened #94 "Project missing unit tests and CI checks on PRs"
From what I see there are some problems with the quality control:
- the project is missing unit tests
- the default `yarn test` command fails, broken tests
- the Travis configuration is empty and has no tests

Expected behavior:
- there should be at least basic suite of tests running on each PR

[2020-03-27 18:52] DenysVuika commented on #94
I can help with fixing this issue

[2020-03-27 19:08] DenysVuika commented on #50
I checked the PR and it seems to be ok.

[2020-03-28 12:19] bbortt commented on #71
That'd be great! I mean I can accept PRs and push releases at any time, that's a matter of minutes. But my company does no longer use this project, so there's no time investment possible from this side. And I'm (sadly) pretty busy otherwise.

[2020-03-28 12:21] bbortt commented on #94
Feel free to add tests. What's not exactly true is that

See the [.travis.yml in the master branch](https://github.com/kuhnroyal/mat-datetimepicker/blob/master/.travis.yml). However I'm not sure if it was propagated to the legacy branches. Maybe not :D

[2020-03-28 12:22] #50 closed

[2020-03-31 06:26] bbortt commented on #94
I'm thinking about a fork in order to have full control over the repository.. Thoughts @kuhnroyal ?
We could update the `README.md` with the new location and archive this one. In the active fork we hat-tip this as the original (but no longer maintained) one (in addition to the fork-mark).
cc: @DenysVuika

[2020-04-01 08:06] imanilrana opened #95 "Feature Request: Support for selecting and displaying date time ranges"
Hi,

Is it possible to provide support for selecting and displaying date time ranges?
Something like examples below:
1. https://angular-3gx6xx.stackblitz.io
2. https://github.com/SaturnTeam/saturn-datepicker

Thanks in advance.

[2020-04-03 21:21] benjaminflopez21 commented on #39
I created the pull request with the 12 hour feacture, but I am waiting for approval.
https://github.com/kuhnroyal/mat-datetimepicker/pull/97

[2020-04-08 19:08] MaxPrimeAERY opened #100 "DateTimePicker in modal window"
Hello @kuhnroyal ! I have some problems using this DateTimePicker v3.1.0 in Bootstrap Modal window. (I use Angular 8)

The first problem that I have to add to my styles.scss this line
.cdk-overlay-container{position: relative; z-index: 99999 !important }
I need it to display DateTimePicker in front of modal.

The second problem is when try to choose hours and minutes the date is changing.
And when

[2020-04-11 15:50] dass80056 opened #102 "not able to filter minute using matDatepickerFilter"
this is my html code
<mat-form-field>
		<mat-placeholder>Start DateTime</mat-placeholder>
		<input matInput formControlName="startDate" [matDatetimepicker]="dts" required autocomplete="false" [matDatepickerFilter]="dateFilter">
		<mat-datetimepicker-toggle [for]="dts" matSuffix></mat-datetimepicker-toggle>
		<mat-datetimepicker #dts type="datetime" openOnFocus="true" timeInterval="5"></mat-datetim

[2020-04-12 17:24] benjaminflopez21 commented on #3
A made a pull request https://github.com/kuhnroyal/mat-datetimepicker/pull/103 to add view for choosing year.

[2020-04-12 17:29] benjaminflopez21 commented on #17
I made the pull request #103 to add view for choosing year.

[2020-04-15 10:45] MaxPrimeAERY commented on #100
I found that the problem was in this provider
provide: MAT_MOMENT_DATE_ADAPTER_OPTIONS,
      useValue: {
        useUtc: true
      }

When I set it to false I can choose date and time almost correctly. But when I choose for example 15:00 it sets automatically to 12:00 (3 hours offset). And I found this solution at stackoverflow

https://stackoverflow.com/questions/48710053/day-incorrect-in-angul

[2020-04-16 09:37] MaxPrimeAERY commented on #100
I found solution!
fixDate(d: Date): Date {
  d.setHours(d.getHours() - d.getTimezoneOffset() / 60);
  return d;
}
Orginal answer: https://stackoverflow.com/questions/44296931/ngx-bootstrap-timepicker-time-zone-offset-causing-sql-to-save-wrong-time

[2020-04-16 09:39] MaxPrimeAERY commented on #100
I decided to refuse this widget till better times.

[2020-04-17 19:09] bbortt commented on #3
released in `4.1.0`.

[2020-04-17 19:09] #3 closed

[2020-04-17 19:09] bbortt commented on #17
released in `4.1.0`.

[2020-04-17 19:09] #17 closed

[2020-06-17 13:06] rattkin opened #107 "current value is not set to input when picker closes"
When user changes part of the date-time (for example just the date, or just the hour), they can close the picker.
The input value is not changed.

In fact the input value is changed only after the minute is clicked.

There should be a confirm dialog or button. Or a parameter to prevent close

[2020-06-17 13:35] rattkin commented on #107
possibly each value change could set the input immediately.

[2020-07-03 09:26] FloBam opened #108 "Update to Angular Material 10"
Hi, [Angular 10 including Material 10](https://blog.angular.io/version-10-of-angular-now-available-78960babd41) has been released for a few days.

when running `ng update @angular/material` you will get the following:

[code]

Would be great if there was a release supporting the new material version :slightly_smiling_face:

[2020-07-13 09:48] perchristian opened #110 "Feature request: Suport visual option to select from/to "Any date" in date range picker"
Sometimes a user may only want to define a start or end date. Especially for filtering. The date range picker now requires user to select both unless manually entered.

Mock up:
![image](https://user-images.githubusercontent.com/12274503/87290555-6c8ae280-c4fe-11ea-9015-fd1c86f81250.png)

[2020-07-14 07:06] sergidt commented on #108
Totally agree. We cannot update our projects to angular 10 due we are using @mat-datetimepicker/core and requires angular 9

[2020-07-15 09:41] saicharankr commented on #43
in datepicker.html
`
    <form [formGroup]="group">
        <mat-form-field>
            <mat-label>Start DateTime</mat-label>
            <mat-datetimepicker-toggle [for]="datetimePicker" matSuffix></mat-datetimepicker-toggle>
            <mat-datetimepicker #datetimePicker type="datetime" openOnFocus="true" timeInterval="5" mode="portrait"></mat-datetimepicker>
            <input matInput formCo

[2020-07-21 16:08] jjtortosa commented on #108
You can use --force:  ng update @angular/material --force
It worked for me

[2020-07-30 20:10] JadedEric opened #113 "PatchValue on reactive forms not setting value"
Hi.

I'm running into an issue where .patchValue(..) on my form's not setting the value in the datetimepicker display in the front-end and I'm unsure way, as the value is definitely in the form:

![image](https://user-images.githubusercontent.com/1898304/88969567-55dfdc00-d2b1-11ea-9ae5-9599a3490020.png)

however, in the front-end, nothing:

![image](https://user-images.githubusercontent.com/18983

[2020-07-31 04:30] sergidt commented on #108
Thank you @jjtortosa! i'll check it!

[2020-08-02 12:07] SamuelMarks commented on #108
Just opened a PR for this #114

[2020-08-02 12:46] #108 closed

[2020-08-02 12:58] bbortt commented on #108
it's released in `5.0.0` and a minor `README.md` bugfix in `5.0.1`. thanks a lot @SamuelMarks.

[2020-08-02 23:44] Murena7 commented on #113
Same issue

[2020-10-02 07:15] Eugeno opened #115 "Material >=10.2.0"
`ng update @angular/material`
🔻
`Package "@mat-datetimepicker/core" has an incompatible peer dependency to "@angular/cdk" (requires "~10.1.1", would install "10.2.3").`
`× Migration failed: Incompatible peer dependencies found.`

[2020-10-02 09:29] Eugeno commented on #115
Also, need support for @angular/material >=10.2.x

[2020-10-05 13:48] #115 closed

[2020-10-05 13:49] bbortt commented on #115
can be tested in `5.1.0-0` (`beta`).

[2020-12-01 21:16] oupablo opened #120 "Inconsistency between Core/Moment CDK and Material versions"
mat-datetimepicker/core has peer deps for:
"@angular/cdk": "^10.2.3",
"@angular/material": "^10.2.3"

mat-datetimepicker/moment has peer deps for:
"@angular/cdk": "^10.1.1",
"@angular/material": "^10.1.1"

This issue is seen in version 5.1.1 and was also in version 5.0.1

[2020-12-02 10:53] bbortt commented on #120
I think this doesn't really matter, right? the carret symbol (`^`) indicates everything up to (but without) `11.0.0` is fine.. I agree it is not very nice, but doesn't have an impact on users. or did you experience troubles?
feel free to create a PR tho, it's a quick fix!

[2020-12-02 10:54] bbortt opened #121 "@angular/core ^11.0.0 release / support"
- update peer dependencies.
- implement necessary changes (if any)
- move `<11.0.0` to support branch.

[2020-12-02 13:53] oupablo commented on #120
I agree on the ^ symbol. It should be fine. Running npm install was throwing a peer dependency error for me though until I edited the moment library to match. Not sure exactly why it's not valid but I submitted a PR to make core and moment match.

[2020-12-02 18:29] bbortt commented on #120
Ah, I see. `peerDependencies` use the tilde `~` sign which does only match patches. thx for the PR!

[2020-12-03 07:42] bbortt commented on #120
@oupablo released just a moment ago in `5.1.2`. thx.

[2020-12-03 07:42] #120 closed

[2020-12-03 08:07] bbortt commented on #121
`beta` release `6.0.0-0` published just a moment ago.

incompatible packages: `ng-packagr`, `tslib`
packages in `beta` phase: `@angular-devkit/build-ng-packagr`

[2020-12-04 16:09] AndyInfin opened #123 "Feature request: custom icons for mat-datetimepicker-toggle"
Modules versions:
"@angular/material": "9.2.1",
"@mat-datetimepicker/core": "5.1.1",
"@mat-datetimepicker/moment": "5.1.1"

Trying to do custom icon similar to original mat-datepicker:
`<mat-datetimepicker-toggle [for]="datetimePicker" matSuffix>`
`	<span class="icons icon-calendar" matDatepickerToggleIcon></span>`
`</mat-datetimepicker-toggle>`

But this didn't work. Can you provide this feature,

[2020-12-06 04:58] bbortt commented on #123
you are welcome to open a pull request .. unfortunately i don't have time myself at the moment..

[2020-12-06 11:26] AndyInfin commented on #123
Done this by delete mat-datepicker-toggle from template and add
`<span class="icons icon-calendar clickable" matSuffix></span>`
after mat-datetimepicker, inside mat-form-field.

[2020-12-06 11:26] #123 closed

[2021-01-24 17:30] newmanw commented on #45
I am also, having the same problem.  Not sure if it helps, but if I use template driven forms and ngModel the time is set correctly.  However using reactive forms does not work.

[2021-02-13 08:36] bbortt commented on #121
released in `6.0.0`.

[2021-02-13 08:36] #121 closed

[2021-02-23 09:49] milkov85 commented on #107
Any development here, it is very irritating for the user to have to select all dates in order to save it.

[2021-02-23 13:25] bbortt commented on #107
I am sorry, not actively developing on this project. Happy to accept PRs :)

[2021-04-06 12:03] jmelich opened #131 "Not parsing datetimeInput from timestamp, always using UTC"
I have dates stored as timestamp in database (i.e: "1617706041927"), so I need to manage them as it but this plugin always uses UTC(i.e: "2021-04-06T19:45:00.000Z") even I configure the plugin through provider to work with timestamps setting datetimeInput to `x` given it means timestamp. I've also tested with other values but it seems it haven't effect always giving UTC values.

![Screenshot from

[2021-04-11 22:36] wakonp opened #132 "Support for Luxon"
Hey guys, I really appreciate your work and would like to contribute to your project with this little script.

https://gist.github.com/wakonp/e714ccd3384c16becf124e06216be0f3

Maybe you can add the support for Luxon. The DateTimeAdapter uses the same Options provided in this library https://github.com/andreialecu/ngx-material-luxon

[2021-04-12 12:31] neogenz opened #133 "Min / Max too close seems not working"
Hello,

I've seen a weird behavior. It seems a bug. When I set a minDate and a maxDate too close, the visual picker don't let met pick the correct hours. Can't understand why. There is an example :

[code]

[code]

Whatever the initial value of `form.get('arrival.date')`, the picker don't let me pick the `18` hour value (but it looks like clickable). When I click on it, nothing happens.

![image](

[2021-04-14 16:16] bbortt commented on #132
this looks interesting indeed! i will take a look at it..

[2021-04-23 09:52] jmelich commented on #131
There is a stackblitz with the issue:
[stackblitz](https://stackblitz.com/edit/mat-datetimepicker-example?file=src/app/app.module.ts)

[2021-04-23 11:59] bbortt commented on #131
hi @jmelich, thanks very much for the bugreport. unfortunately **I don't have any time to "maintain" this repository in regards of bugs**. all I'm doing is updating dependencies **and accepting pull-requests**. feel free to open one - I'l gladly look it through! br, timon

[2021-04-24 22:36] ssdhaliwal opened #136 "UTZ multiple conversions in process"
When following setting is enabled; {provide: MAT_MOMENT_DATE_ADAPTER_OPTIONS, useValue: {useUtc: true}}; the component performs UTZ conversion 3 times - Day Selection, Hour Selection, and Finally Minute Selection.  The resulting date is offset incorrectly.

[2021-04-27 13:28] neogenz commented on #133
Someone ?

[2021-04-28 12:49] bbortt commented on #133
hi @neogenz. sorry for not reaching out to you in such a long time. I do not have much time, lately. furthermore I do not really own this project, just looking to get updates through.
it's very difficult bi just looking at those code snippets above. if you could submit a sample code project, that'd be great! then I could maybe spare some minutes to look at it.
did you already debug it into our cod

[2021-05-05 14:26] artfulsage opened #138 "Add an option for showing week numbers"
Hi! It would be nice if there will be an option for showing week numbers like in a real calendar. What do you think about it?

[2021-05-06 07:56] bbortt commented on #138
sure, if anyone goes for it 🚀

[2021-05-26 09:59] TorstenL commented on #133
Same here. If the min max difference is smaller than an hour it doesn't work.

https://github.com/kuhnroyal/mat-datetimepicker/pull/142

[2021-05-27 12:54] TorstenL commented on #62
I got that problem cause i forgot the theming configuration. Maybe you have something similar  ?
https://github.com/kuhnroyal/mat-datetimepicker#theming

[2021-05-27 20:43] bbortt commented on #133
has been merged into master in 2120778 and released in 6.0.3. thank you very much @TorstenL!

[2021-05-27 20:43] #133 closed

[2021-05-31 14:19] neogenz commented on #133
Thanks ! 👍

[2021-06-07 15:21] joelcoxokc commented on #61
Hello, This is a critical bug for me. Any progress on this. We are stuck using a different project until this bug is completed.

And I really want to use this component, because it is very clean and slick

[2021-06-20 10:41] AlexElin opened #144 "implement disabliing of minute entering"
implement disabliing of minute entering.
Similar to `disableMinute` from the [@angular-material-components/datetime-picker ](https://h2qutc.github.io/angular-material-components/datetimepicker)

[2021-06-22 05:41] bbortt commented on #61
hi @joelcoxokc, sorry, this project is no longer under active developpment. I am happy to accept PRs! and can also quickly release bugfixes for you. (although it does not look like it, when replying after 15 days :D I just forgot your issue.. sorry!)

[2021-07-06 06:06] samOpenforce opened #146 "Help needed - extract _activeDate on view change"
Hello! I understand this package is no longer maintained and so this is really a call for help to anybody out there who may be able to!

As the title suggests I'd like to extract the currently active date from the picker when the view changes.

This is proving difficult as whilst the date used internally by the component updates the input does not and so binding to `(dateChange)` and `(dateInput)`

[2021-07-06 11:32] bbortt commented on #146
hi @samOpenforce, i am currently busy with spring term exams. I can try figure something out next week, once I'm done with school.

I also plan to work on some issues here during my summer holiday 🚀

[2021-07-06 11:46] bbortt commented on #110
@perchristian isn't it possible to use a picker without range and label the field accordingly?

this one is from one of my other projects.. it allow the user to pick "up to" a certain date.
![image](https://user-images.githubusercontent.com/12272901/124594763-7a005180-de60-11eb-88b0-b71c474b2c66.png)

[2021-07-09 13:21] samOpenforce commented on #146
Will close this as have found suitable solution. Many thanks all the same @bbortt , appreciate it!

[2021-07-09 13:21] #146 closed

[2021-07-10 07:12] bbortt commented on #146
cool! can you post it here, in case someone has the same question? 🌈

[2021-07-15 14:50] micdenny opened #147 "Angular v12 support"
Is it possible to upgrade the `peerDependencies` to the latest angular v12?

[2021-07-15 18:28] bbortt commented on #147
sure thing, give me a second! 🤣

[2021-07-15 18:46] #147 closed

[2021-07-15 18:58] bbortt commented on #147
@micdenny published in [version `7.0.0`](https://www.npmjs.com/package/@mat-datetimepicker/core/v/7.0.0).

[2021-07-15 19:16] bbortt commented on #147
and of course I fucked up the peer dependency of `core` in `moment`.. 🤦🏼 bugfix will follow shortly in `7.0.1`!

[2021-07-15 19:20] micdenny commented on #147
Think about that people will think that the library it's more robust now that has already a patch, 7.0.1 feels better than 7.0.0 you test! 😂😂😂😂😂

[2021-07-15 19:28] bbortt commented on #147
xD could you report me if everything works on angularV12 once you tested it?

[2021-07-15 20:30] bbortt commented on #147
sorry, this did take me a little longer this time.. was already working on removing `tslint` and hat to joggle with multiple branches.. promised to do some work on this package - and will have some for the next few days :D
anyway, `7.0.1` is out.

[2021-07-16 08:05] micdenny commented on #147
it works

![image](https://user-images.githubusercontent.com/1633595/125914129-a3e741ca-d54a-4f1a-bcd0-1c81752d6d35.png)

thank you

[2021-07-26 07:38] anton-simola-finnos opened #151 ""You provided 'undefined' where a stream was expected.""
"@angular/animations": "^12.1.3",
    "@angular/cdk": "^12.1.3",
    "@angular/common": "12.1.3",
    "@angular/compiler": "12.1.3",
    "@angular/core": "12.1.3",
    "@angular/flex-layout": "^11.0.0-beta.31",
    "@angular/forms": "12.1.3",
    "@angular/material": "^12.1.3",
    "@mat-datetimepicker/core": "7.0.1",
    "@mat-datetimepicker/moment": "7.0.1",

Im getting this error when initializ

[2021-08-17 07:58] Abdullah0991 commented on #107
UP....
Is there any solution to this problem?

[2021-10-21 23:34] scottboyd-ai opened #158 "Min date disabling hour pickers on twelve-hour time"
When the datetimepicker is using [twelvehour]="true", setting a [min] value on the corresponding input field causes the hour picker to misbehave. All hours are disabled, and if the user clicks on an hour, they are moved to the minute picker where, when a minute is selected, the day of the date picked changes to the following day. This does not occur when [twelvehour] is set to false or not set.

I

[2021-10-29 11:58] lolizeppelin opened #159 "text can not be seen when use dark scheme"
### **Description of Bug**
text can not be seen when use dark  scheme/ but work fine on light scheme
My Framework is fuse angluar
http://angular-material.fusetheme.com/

 dark  scheme
![dark](https://user-images.githubusercontent.com/24216878/139428887-279ecdf3-32d6-4d81-a860-e0f05af24068.png)

light scheme
![light](https://user-images.githubusercontent.com/24216878/139429060-06d1e989-57d2-4e68-92

[2021-11-01 09:11] dennisvrm opened #160 "Angular 12 install"
How can I solve the error below when installing the packages? Thank you

`npm ERR! code ERESOLVE`
`npm ERR! ERESOLVE unable to resolve dependency tree`

`npm ERR! While resolving: dlaplanning@0.0.0`
`npm ERR! Found: @angular/material@12.2.12`
`npm ERR! node_modules/@angular/material`
`npm ERR!   @angular/material@"^12.2.9" from the root project`

`npm ERR! Could not resolve dependency:`
`npm ERR!

[2021-11-01 09:25] #160 closed

[2021-11-01 09:42] dennisvrm commented on #160
I used --force and everything is working fine for me.

[2021-11-09 14:44] ricardojbertolin opened #161 "Datetimepicker toggle not working when moving from disabled to enabled on form control (A12)"
If you have a disabled form control bounded to an input with a matDatetimepicker, and then move to enabled, the "mat-datetimepicker-toggle" does nothing. The input field does work as expected.

This used to work in older angular versions, but not for A12.

Please check this stackblitz out, just play with it enabling the field using the checkbox.: https://stackblitz.com/edit/angular-ujsnmr?file=src

[2021-11-25 07:13] naveenkumarGajavalli commented on #107
any solution for this??

[2021-11-30 09:44] Oryon86 opened #162 "Angular 13 - Support"
Hi,

Is there any Angular 13 support for next version?

Thank you

[2021-12-04 13:49] Qberon commented on #162
Upvote

code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: ****@0.0.0
npm ERR! Found: @angular/cdk@13.0.3
npm ERR! node_modules/@angular/cdk
npm ERR!   @angular/cdk@"^13.0.2" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer @angular/cdk@"^12.1.0" from @mat-datetimepicker/core@7.0.1
npm ERR! node_modules/@mat-datet

[2021-12-06 20:55] KaliaHayes commented on #78
Wow, @mhagnumdw you saved me another full-day of debugging this issue, thanks!

In my case, I have the date picker in a popup window. Upon first selecting a date & time, everything displays fine. When reopening the popup, the values are saved, but only the date is showing up - no time.

Moving input AFTER mat-datetimepicker solved it instantly.

What a bug.

[2021-12-07 06:18] suryacyg opened #163 "Support for actions"
Is there any support for actions?

I was looking to add actions to date picker so that user can just change the date instead of selecting hour/minutes.

Does this control support mat-datepikcer-actions? (In below link please look for picker with actions)
Ref: https://material.angular.io/components/datepicker/examples

I see this PR is closed and I was looking for exactly this feature - https://git

[2021-12-08 04:26] jakoujan commented on #162
some updates about this issue @kuhnroyal?

[2021-12-08 08:19] bbortt commented on #162
the library is no longer actively maintained. I tried keeping it up to date, but have too much to do lately!

upgrading it to Angular v13 is a little task, you could contribute it 😉

[2021-12-09 02:03] jakoujan commented on #162
thanks @bbortt i will do it as soon as i have some free time.

[2021-12-26 09:52] bbortt opened #170 "repository access"
hi @kuhnroyal, can you give me full access to this repository? I'd love to edit the secrets, so I can have a fully automated publish job to npmjs.org.

[2021-12-26 09:55] bbortt commented on #162
release [`v8.0.0`](https://github.com/kuhnroyal/mat-datetimepicker/releases/tag/v8.0.0) is out now. thanks @LucaPezzato.

[2021-12-26 09:55] #162 closed

[2021-12-26 10:43] bbortt commented on #170
see also #176.

[2021-12-26 11:57] kuhnroyal commented on #170
Hey @bbortt, that is not possible without an organization.
But I can see what I can do about adding those secrets.

[2021-12-26 12:55] kuhnroyal commented on #170
I added an `NPM` environment with a valid `NPM_TOKEN`.
Can be deployed to from `master` and `release` branch.

Let me know what else you need.

[2021-12-26 16:12] bbortt commented on #170
thanks, that's ok then. can you add a `ACTION_TOKEN` with "repo" permission too? it's required for pushing version commits & tags.
both can be in the same environment (I ow for a general term e.g. "npmjs-release" or something) with access from withing the `release` branch. that's sufficent, I will remove the `master` afterwards.

[2021-12-26 16:27] bbortt commented on #170
actually I don't care that much.. `NPM` is fine too. I mean, it's an npm-only project, so.. 😅

[2021-12-26 16:28] kuhnroyal commented on #170
If you want to remove the master branch then I'll make the release branch default?

[2021-12-26 16:29] bbortt commented on #170
yes, that makes sense too. and apply some terms like "requires review and successful build", please.

[2021-12-26 16:48] bbortt commented on #170
and if you're in the config anyway, can you activate GitHub Pages from `gh-pages` branch? I'll push a sample real quick..

[2021-12-26 17:05] bbortt commented on #170
done. the configuration is falsy, but you should be able to select the branch.

[2021-12-26 21:43] bbortt opened #179 "use prettier rule "eslint:recommended""
the current `prettier` configuration (introduced in 2b23d0417c75724bd9d2c3c36d3f128b5017bab4) does not use the rule `eslint:recommended`. it contains useful code quality/security hints!

[2021-12-26 21:51] bbortt commented on #170
@kuhnroyal #176 is ready when you are! 🚀

[2021-12-26 22:49] #170 closed

[2021-12-27 10:34] bbortt commented on #163
did you look at [the sample application](https://kuhnroyal.github.io/mat-datetimepicker/)? I think [the "Date" input](https://github.com/kuhnroyal/mat-datetimepicker/blob/release/src/app/date.component.html#L114) is what you're looking for, no?

[code]

[2021-12-27 10:43] suryacyg commented on #163
@bbortt I am looking a way to add actions to the popup so that user updates any one of the date parts and chooses to close the popup.

I want something like below which should work with datetime: `mat-date-range-picker-actions`

[code]

[2021-12-27 10:46] bbortt opened #185 "GHA standard-version cannot push"
the [`.github/workflows/version.yaml`](https://github.com/kuhnroyal/mat-datetimepicker/blob/release/.github/workflows/version.yaml) cannot push its changes..

[code]

see: https://github.com/kuhnroyal/mat-datetimepicker/runs/4641341226?check_suite_focus=true.

did you maybe tick the "Include administrators" on the branch protection rule @kuhnroyal?

[2021-12-27 10:52] kuhnroyal commented on #185
Yea I did :)

[2021-12-27 10:55] kuhnroyal commented on #185
Fixed

[2021-12-27 10:55] #185 closed, assigned to kuhnroyal

[2021-12-27 11:39] bbortt commented on #163
I see, its about the actions, not the date picker. let me see what I can do.. but will probably take a while.

[2021-12-28 07:40] bbortt opened #192 "fix publish github action pipeline"
@kuhnroyal sorry for interrupting you again, can you confirm that the environment is `NPM` and the secrets are called `NPM_TOKEN` and `ACTION_TOKEN` respectively? just not that I am searching into the wrong direction..

because the [publish pipeline](https://github.com/kuhnroyal/mat-datetimepicker/actions/runs/1627863247) fails with authentication errors on both sides. I am pretty sure I can fix t

[2021-12-28 07:42] bbortt commented on #192
[tagging and version bump](https://github.com/kuhnroyal/mat-datetimepicker/actions/workflows/version.yaml) works, so I assume at least the `ACTION_TOKEN` is fine (used for pushing).
for now I've still manually released `v9.0.0` and `v9.0.1`.

[2021-12-28 09:28] bbortt commented on #192
fix delivered in: #193 - `v9.0.2`. action: https://github.com/kuhnroyal/mat-datetimepicker/runs/4648865288?check_suite_focus=true.

[2021-12-28 09:30] bbortt commented on #192
that pipeline is so clean @kuhnroyal.. I almost can't get over it!

will also deliver a fix for pages in a second..

[2021-12-28 20:28] bbortt commented on #192
GH pages deployment resolved in #198 (`v9.0.13`). corresponding action: https://github.com/kuhnroyal/mat-datetimepicker/actions/runs/1631647557.

[2021-12-28 20:28] #192 closed, assigned to bbortt

[2021-12-28 21:30] bbortt commented on #85
closing this as we are on angular release 13 since `v8.0.0` (even being on `^9.0.0` since yesterday [refactoring]).

[2021-12-28 21:30] #85 closed

[2021-12-28 21:36] bbortt commented on #94
there is progress in terms of ci. thanks be the winter vacations..

I've migrated from Travis CI to GitHub actions. this includes automatic test and build for all branches. automatic version increase based on conventional commits. and automatic releases on top of that.
in addition, I've introduced automatic code formatting and basic linting.
those improvements together make the repository more att

[2021-12-28 21:36] #94 closed

[2021-12-28 21:38] bbortt commented on #70
hi @PunkHaz4rd, it has been a loooong time since this was reported. the repository was very inactive since, but I am trying to catch up now. wondering if it did never again work since (release `^9.0.0` being out now). could you lose some words on this? thanks!

[2021-12-28 21:42] bbortt commented on #151
hi @anton-simola-finnos, am I right guessing that you used an angular v11 compatible version of `@mat-datetimepicker/core` with angular v12? the current release (`^9.0.0`) supports angular `^13.0.0`.

the error has been fixed in #148, I believe. please close the issue or provide further details.

[2021-12-28 21:44] bbortt commented on #48
for anyones information: the new pipeline does also publish the sample application to GitHub pages for each release.

url: https://kuhnroyal.github.io/mat-datetimepicker/.

[2021-12-28 21:44] #48 closed

[2021-12-28 21:47] bbortt commented on #49
since we brought semver into the picture, and in terms of conventional commits, i agree with @derflocki. i have adjusted the peer dependency accordingly: [source](https://github.com/kuhnroyal/mat-datetimepicker/blob/v9.0.0/projects/moment/package.json#L13).

[2021-12-28 21:47] #49 closed

[2021-12-28 21:51] bbortt commented on #42
agree with @kuhnroyal, the sample application works in productive mode. @eromano please re-report with a reproducible sample if the problem still exists using the latest version.

[2021-12-28 21:51] #42 closed

[2021-12-30 20:43] bbortt commented on #132
hi @wakonp, I finally found time to look at your adapter. I've never heard of luxon, but looked it up and it sounds great.
the code looks fine to me in general, why don't you want to submit a PR yourself? from what I see..

- [ ] this requires a second subproject (you can roughly copy `@mat-datetimepicker/moment`),
- [ ] the formats are missing,
- [ ] an example must be added (`src/app/luxon`, cop

[2021-12-31 12:56] #161 closed

[2021-12-31 12:58] bbortt commented on #161
@ricardojbertolin thanks for reporting and the excellent sample! the issue has been fixed in [`v9.0.17`](https://github.com/kuhnroyal/mat-datetimepicker/releases/tag/v9.0.17).

[2022-01-03 08:19] #151 closed

[2022-01-04 15:41] ricardojbertolin commented on #161
Thank you for your awesome job!

[2022-01-05 18:11] alexis-landrieu-avanade opened #216 "Angular v13 Sass issue (SassError: Can't find stylesheet to import)"
Hello, I have recently updated **@mat-datetimepicker/core** to **v9.0.2** and I'm getting following error from sass-loader (_Note: The build is working with v7.0.1_).

**Error**
[code]

**Version**

[code]

I don't know what is causing this issue, you will find below my styles.scss:

[code]

[2022-01-06 10:36] bbortt commented on #216
the problem sounds like a `sass-loader` (respecitvely Angular) migration error to me.. because the style-sheet clearly exists:

[code]

there's multiple changes involved here.. and multiple fixes possible. e.g. removing the leading `~`, using `@use` instead (`@import` has been deprecated) or even adding the `stylePreprocessorOptions` to `angular.json`. please lookup the individual solutions to fin

[2022-01-06 14:25] alexis-landrieu-avanade commented on #216
@bbortt unfortunately none of these solutions seems to be working. You will find below a repo with clean Angular project to see [the issue](https://github.com/alexis-landrieu-avanade/mat-datetimepicker-sass-loader-issue-216/runs/4727957799?check_suite_focus=true).

* https://github.com/alexis-landrieu-avanade/mat-datetimepicker-sass-loader-issue-216

**Possible related topic**

* [ng-packagr - doc

[2022-01-06 20:19] bbortt commented on #216
thanks very much for the sample! I'll have a look at it..

[2022-01-07 20:19] bbortt commented on #216
@alexis-landrieu-avanade the following works for me, even with your example..
[code]

[2022-01-10 07:58] alexis-landrieu-avanade commented on #216
@bbortt I confirm it's working (you can see the build result [here](https://github.com/alexis-landrieu-avanade/mat-datetimepicker-sass-loader-issue-216/actions/runs/1676334059)), but it's a bit weird why we have to include node_modules in **stylePreprocessorOptions** ? Are you sure it's not your responsibility to export styles, refer to this documentation [ng-packagr - Copy assets - Exporting Styl

[2022-01-10 09:34] bbortt commented on #216
it's a sass mixin, so I think we should. but I am not sure if `stylePreprocessorOptions` really is redundant after that.

**edit:** anyway, I will test it as soon as I find some time.. or feel free to open a PR 😉

[2022-01-10 17:51] #216 closed, assigned to bbortt

[2022-01-10 17:55] bbortt commented on #216
@alexis-landrieu-avanade I've added the `export` flag and that seems to work (tested it using your sample)! fix released in [`v9.0.22`](https://github.com/kuhnroyal/mat-datetimepicker/releases/tag/v9.0.22). thanks much for your help.

[2022-01-10 18:49] alexis-landrieu-avanade commented on #216
I confirm it's working 🥇 , thank you for the update .

https://github.com/alexis-landrieu-avanade/mat-datetimepicker-sass-loader-issue-216/runs/4765901860?check_suite_focus=true

[2022-01-11 15:13] bbortt commented on #163
I've started it [here](https://github.com/kuhnroyal/mat-datetimepicker/tree/feature/%23163-support-for-actions), also based on the original work in #13 - but trying to make it optional. not yet finished, tho!

[2022-01-18 19:01] JorgeAlcarazKuv commented on #216
@alexis-landrieu-avanade @bbortt Im still having this problem using the latest versions of Angular and @mat-datepicker.
Did you manage to make this work without the stylePreprocessorOptions bit? Could you provide an example?

[2022-01-18 21:22] bbortt commented on #216
I should be resolved as @alexis-landrieu-avanade showed in [the link provided](https://github.com/kuhnroyal/mat-datetimepicker/issues/216#issuecomment-1009240002).. please double check your settings.

[2022-01-19 09:03] alexis-landrieu-avanade commented on #216
@bbortt I think the **Theming** part of the README.md file must be updated,

## Theming

[code]

@JorgeAlcarazKuv  see [full example](https://github.com/alexis-landrieu-avanade/mat-datetimepicker-sass-loader-issue-216/blob/master/src/styles.scss#L4)

[2022-01-19 13:45] bbortt commented on #216
that is probably true..

[2022-02-16 21:14] eranboww opened #255 "moment project is dependant on angular 13.1.1 instead of latest (13.2.1)"

[2022-02-16 21:19] eranboww commented on #255
The build fails with the message:
[code]

[2022-02-18 20:40] bbortt commented on #255
this is because of an incorrect usage of `~` in [`@mat-datetimepicker/moment`](https://github.com/kuhnroyal/mat-datetimepicker/blob/release/projects/moment/package.json#L11). see #256 for details.

[2022-03-28 11:19] alfaproject commented on #113
I think my latest PR fixes this issue, feel free to patch it locally to test it out https://github.com/kuhnroyal/mat-datetimepicker/pull/285

[2022-03-30 12:04] #113 closed

[2022-03-30 12:07] bbortt commented on #113
fixed in [`v0.9.36`](https://github.com/kuhnroyal/mat-datetimepicker/releases/tag/v9.0.36).

[2022-05-23 09:47] bbortt opened #310 "remove deprecated standard-version"
according to their `README.md` one should migrate to `googleapis/release-please` instead. would make #305 useless.

[2022-05-23 09:47] bbortt commented on #255
has been resolved.

[2022-05-23 09:47] #255 closed, assigned to eranboww

[2022-07-01 10:33] tbrandenburger opened #342 "Upgrading to angular 14"
Hi,

I've got peer dependencies error while upgrading to angular 14 and angular material 14.

 Could not resolve dependency:
npm ERR! peer @angular/cdk@"^13.1.1" from @mat-datetimepicker/core@9.0.68

[2022-07-10 19:38] bbortt commented on #342
I've checked like a month ago and because of some third party dependencies we were not ready back then. will retry rightnow.

[2022-07-11 06:18] #342 closed, assigned to nobody

[2022-07-11 08:23] bbortt commented on #342
@tbrandenburger angular v14 support was released in [`v10.0.0`](https://github.com/kuhnroyal/mat-datetimepicker/releases/tag/v10.0.0).

[2022-08-20 21:11] #158 closed

[2022-10-04 05:49] kapsiR commented on #67
I took a quick look at it:
[It seems that the internal minutes array gets filled in 5 minute steps](https://github.com/kuhnroyal/mat-datetimepicker/blob/a1d5c4b917e50292dc7b415da5f7ffded4a19308/projects/core/src/datetimepicker/clock.ts#L262-L292) (`i += 5`)

[2022-10-04 16:22] Den-dp opened #375 "make Releases and CHANGELOG less-noisy and more readable"
I would like to raise an idea of how to improve Developer Experience of [CHANGELOG.md](https://github.com/kuhnroyal/mat-datetimepicker/blob/release/CHANGELOG.md) and [Releases](https://github.com/kuhnroyal/mat-datetimepicker/releases) overall.

I think that a new Release should be done only if the source code is changed or if a regular package `dependency` is updated (so `feat`, `fix`, `revert`, `

[2022-10-04 17:15] kuhnroyal commented on #375
Sounds reasonable, that is a lot of release always in one go which could be skipped.
@bbortt Do you have access to edit the releases?

We could setup [release-drafter](https://github.com/release-drafter/release-drafter) and collect all the changes. And then initiating a release manually.

[2022-10-04 17:30] bbortt commented on #375
I do understand, that it is very noisy. the reason I added it, is that it was very handy back then: it requires 0 manual interaction, and I didn't know about [`semantic-release`](https://github.com/semantic-release/semantic-release) at this time.

I think I can give it some effort to replace [`standard-version`](https://github.com/kuhnroyal/mat-datetimepicker/blob/release/package.json#L77) by [`se

[2022-10-04 17:38] bbortt commented on #375
yes, I do. however I would leave it as is, I think. and look forward to be less noisy in the future 🚀

[2022-10-06 05:17] #375 closed, assigned to nobody

[2022-10-06 05:17] #310 closed, assigned to nobody

[2022-11-14 14:58] Oryon86 opened #400 "Unable to import @import '~@mat-datetimepicker/core/datetimepicker/datetimepicker-theme.scss';"
Hello everyone,

I've a problem while importing the scss theme into my app :

Module build failed (from ./node_modules/sass-loader/dist/cjs.js):
SassError: Can't find stylesheet to import.
  ╷
6 │ @import '@mat-datetimepicker/core/datetimepicker/datetimepicker-theme.scss';
  │         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  ╵
I saw the example on https://github.com/ku

[2022-11-14 19:58] bbortt commented on #400
sounds like #216.. does that help?

[2022-11-15 08:36] Oryon86 commented on #400
Tank you. It works fine with :

[code]

But it still a warning :

`imports '~@angular/material/theming' with a tilde. Usage of '~' in imports is deprecated.`

[2022-11-17 12:58] bbortt commented on #400
not so active in typescript development anymore, but I think that comes from the sass loader. looks like we should update the documentation on our side. looking at it (https://github.com/kuhnroyal/mat-datetimepicker#theming) the `stylePreprocessorOptions` is mentioned nowhere.

[2022-11-22 16:02] ricardojbertolin opened #403 "Angular 15 not supported"
Hi,

I've tried to install in an A15 project and got the following error:

`npm ERR! peer @angular/cdk@"^14.0.4" from @mat-datetimepicker/core@10.0.10`

Will you support Angular 15 soon?

Thank you

[2022-11-23 08:19] bbortt commented on #403
@ricardojbertolin well, you could submit a PR bumping the `peerDependency`s ;)

[2022-11-23 08:49] ricardojbertolin commented on #403
Nice, I'll do!

[2022-11-24 14:45] gsontag commented on #400
With angular 15, support for tilde in import as been dropped, so `imports '~@angular/material/theming'` cause build to fail.

[2022-11-24 17:40] gsontag commented on #403
I made a PR for this issue https://github.com/kuhnroyal/mat-datetimepicker/pull/404

[2022-11-25 08:50] ricardojbertolin commented on #403
Thank you very much @gsontag

[2022-11-30 07:43] ricardojbertolin commented on #403
I see you have merged a PR with the A15 support. Good job @gsontag !

I wonder @bbortt why there isn't new version available. I had to install the package from your repo directly to make it work. Are you considering launching a new release soon?

Meanwhile I'm going to try it out in my project, I'll give you feedback soon.
Thank you very much!

[2022-11-30 16:18] bbortt commented on #403
@ricardojbertolin there were two issues regarding the release, both being addressed in https://github.com/kuhnroyal/mat-datetimepicker/pull/405.

[2022-11-30 16:48] bbortt commented on #403
well, good news. `v11.0.0` hast just been released! good luck :)

[2022-11-30 16:48] #403 closed, assigned to nobody

[2022-11-30 16:49] bbortt commented on #400
closed since release `v11.0.0` is out.

[2022-11-30 16:49] #400 closed, assigned to nobody